<ion-view title="{{titulo}}">
    <ion-content padding="true">
        <form class="list" ng-submit="enviar()">
        <div class="captura-foto captura-foto-menor">
            <!-- <input type="file" id="input-file-foto" class="hidden" accept="image/*" /> -->
            <img class="captura-foto-img" ng-click="capturarFoto()" id="logotipo" jog-escudo="time.escudo"></img>
            <i ng-click="capturarFoto()" class="icon ion-image captura-foto-icon"></i>
        </div>
            <label class="item item-input">
                <span class="input-label">Nome</span>
                <input ng-model="time.nome" type="text" placeholder="Nome do seu time" required />
            </label>

            <label class="item item-input">
                <span class="input-label">Cidade</span>
                <input ng-model="time.cidade.nomeCompleto" ng-click="modalEstado.show()" type="text" placeholder="Cidade do seu time" />
            </label>

<!--             <label class="item item-input">
                <span class="input-label">Modalidades</span>
                <input ng-click="modalModalidades.show()" type="text" placeholder="Society, salão, grama..." value="{{modalidadesFormatada()}}">
            </label> -->
            <ion-item class="item-divider">Modalidades</ion-item>
            <ion-list>
                <ion-toggle ng-model="modalidade.society" toggle-class="toggle-positive">Society</ion-toggle>
                <ion-toggle ng-model="modalidade.salao" toggle-class="toggle-positive">Salão</ion-toggle>
                <ion-toggle ng-model="modalidade.grama" toggle-class="toggle-positive">Grama</ion-toggle>
                <ion-toggle ng-model="modalidade.terra" toggle-class="toggle-positive">Terra</ion-toggle>
                <ion-toggle ng-model="modalidade.areia" toggle-class="toggle-positive">Areia</ion-toggle>
            </ion-list>
            <ion-item class="item-divider">Informações adicionais</ion-item>

            <label class="item item-input">
                <span class="input-label">Telefone</span>
                <input ng-model="time.telefone.numeroFormatado" ng-click="modalTelefone.show()" type="tel" placeholder="Informe um número" />
            </label>

            <label class="item item-input">
                <span class="input-label">Site</span>
                <input ng-model="time.site" type="text" placeholder="Site do time" />
            </label>
            <label class="item item-input">
                <span class="input-label">Instagram</span>
                <input ng-model="time.instagram" type="text" placeholder="Conta do instagram" />
            </label>

            <label ng-click="modalBiografia.show()" class="item item-input">
                <span class="input-label">Biografia</span>
                <input ng-if="!time.biografia" type="text" placeholder="Informações do time"/>
                <p ng-if="time.biografia" style="white-space: pre-wrap; color: #111">{{time.biografia}}</p>
            </label>

            <button ng-disabled="!time.nome" type="submit" class="button button-positive button-block">{{labelBotao}}</button>
        </form>
    </ion-content>
</ion-view>
