<ion-view title="{{titulo}}">
    <ion-content padding="true">
        <form ng-if="time" class="list" ng-submit="enviar()">
        <div class="captura-foto captura-foto-menor">
            <img class="captura-foto-img" ng-click="capturarFoto()" id="logotipo" jog-escudo="time.escudo" jog-size="mid" />
            <i ng-click="capturarFoto()" class="icon ion-image captura-foto-icon"></i>
        </div>
            <label class="item item-input">
                <span class="input-label">Nome</span>
                <input ng-model="time.nome" type="text" placeholder="Nome do seu time" required />
            </label>
            <label class="item item-input">
                <span class="input-label">Esporte</span>
                <input ng-model="time.esporte.nome"
                ng-focus="modalEsporte.show()" type="text"
                placeholder="Esporte que seu time joga" 
                jog-blur/>
            </label>
            <label ng-if="!time.esporte.efootball" class="item item-input">
                <span class="input-label">Cidade</span>
                <input ng-model="time.cidade.nomeCompleto" ng-focus="modalEstado.show()" type="text" placeholder="Cidade do seu time" jog-blur/>
            </label>
            <label ng-if="time.esporte.efootball" class="item item-input">
                <span class="input-label">Plataforma</span>
                <input ng-model="time.efootball.plataforma.nome" ng-focus="modalPlataforma.show()" type="text" placeholder="Plataforma utilizada" jog-blur/>
            </label>
            <ion-item ng-if="time.esporte.efootball" class="item-divider">Modo</ion-item>
            <ion-list ng-if="time.esporte.efootball">
                <ion-toggle ng-model="modo.x11" toggle-class="toggle-positive" ng-if="!fifa()">X11</ion-toggle>
                <ion-toggle ng-model="modo.clubs" toggle-class="toggle-positive" ng-if="fifa()">Pro Clubs</ion-toggle>
                <ion-toggle ng-model="modo.coop" toggle-class="toggle-positive">Coop</ion-toggle>
                <ion-toggle ng-model="modo.x1" toggle-class="toggle-positive">1x1</ion-toggle>
            </ion-list>
            <ion-item ng-if="!time.esporte.efootball" class="item-divider">Sobre o time</ion-item>
            <sobre-time time="time"></sobre-time>
            <ion-item class="item-divider">Informações adicionais</ion-item>
            <informacoes-adicionais-time time="time"></informacoes-adicionais-time>

            <button ng-disabled="!time.nome" type="submit" class="button button-positive button-block">{{labelBotao}}</button>
        </form>
    </ion-content>
</ion-view>
