<ion-modal-view class="modal-minimo">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalModalidades.hide()">Cancelar</button>
        <h1 class="title">Modalidades</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-list>
            <ion-toggle ng-model="modalidade.society" toggle-class="toggle-positive">Society</ion-toggle>
            <ion-toggle ng-model="modalidade.salao" toggle-class="toggle-positive">Salão</ion-toggle>
            <ion-toggle ng-model="modalidade.grama" toggle-class="toggle-positive">Grama</ion-toggle>
            <ion-toggle ng-model="modalidade.terra" toggle-class="toggle-positive">Terra</ion-toggle>
            <ion-toggle ng-model="modalidade.areia" toggle-class="toggle-positive">Areia</ion-toggle>
        </ion-list>
        <button ng-click="confirmarTelefone()" class="button button-positive button-block">Confirmar</button>
    </ion-content>
</ion-modal-view>