<ion-modal-view class="">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalTiposCampo.hide()">Cancelar</button>
        <h1 class="title">Tipos de Campo</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <ion-list>
            <jog-options lista="modalidades" lista-preenchida="filtro.modalidades" />
        </ion-list>
        <button ng-click="confirmarTiposCampo()" class="button button-positive button-block">Filtrar</button>
    </ion-content>
</ion-modal-view>