<ion-modal-view ng-class="{'modal-minimo': modalMinimo}">
    <ion-header-bar class="bar bar-header bar-positive">
        <button ng-if="!modalMinimo" class="button button-clear button-primary" ng-click="modal.hide()">Cancelar</button>
        <h1 class="title">{{titulo || 'Modalidade'}}</h1>
    </ion-header-bar>
    <ion-content ng-class="{'padding': !modalMinimo}" >
        <!-- <ion-list>
            <ion-item ng-click="selecionada(modalidade)" ng-repeat="modalidade in modalidades" class="item">
                <h2>{{modalidade.nome}}</h2>
            </ion-item>
        </ion-list> -->
        <ion-list class="jog-radio">
            <ion-item ng-repeat="modalidade in modalidades" ng-model="chaveSelecionada" ng-click="selecionada(modalidade)" ng-value="modalidade.chave">
                {{modalidade.nome}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>