<ion-modal-view ng-class="{'modal-minimo': modalMinimo}">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancelar</button>
        <h1 class="title">{{titulo || 'Idade'}}</h1>
        <button ng-if="podeLimpar" class="button button-clear button-primary" ng-click="limpar()">Limpar</button>
    </ion-header-bar>
    <ion-content padding="false">
        <style>
            .range-idade-minima .irs--round .irs-line {
                background-color: #387ef5;
            }
            .range-idade-minima .irs--round .irs-bar {
                background-color: #dee4ec;
            }
        </style>
        <ion-list ng-if="!categoriaSelecionada.chave" >
            <ion-item ng-repeat="categoria in categorias" ng-click="selecionar(categoria)" ng-value="categoria.chave">
                {{categoria.nome}}
                <p>
                    {{descricao(categoria, idade)}}
                </p>
            </ion-item>
        </ion-list>
        <ion-list ng-if="categoriaSelecionada.chave">
            <ion-item ng-if="categoriaSelecionada.chave === 'BASE'" class="item-divider">Faixa etária</ion-item>
            <label ng-if="categoriaSelecionada.chave === 'BASE'" class="item item-input">
                <span class="input-label">Idade entre</span>
                <div style="width: 65%;padding-right: 15px;">
                    <input on-selecionado="setIdade(from, to)" jog-range min="categoriaSelecionada.idadeMinima" max="categoriaSelecionada.idadeMaxima" from="categoriaSelecionada.idadeMinima" to="categoriaSelecionada.idadeMaxima" type="number" />
                </div>
            </label>

            <ion-item ng-if="categoriaSelecionada.chave === 'MASTER'" class="item-divider">Idade mínima</ion-item>
            <label ng-if="categoriaSelecionada.chave === 'MASTER'" class="item item-input">
                <span class="input-label">A partir de</span>
                <div class="range-idade-minima" style="width: 65%;padding-right: 15px;">
                    <input on-selecionado="setIdade(value)" jog-range min="categoriaSelecionada.idadeMinima" max="categoriaSelecionada.idadeMaxima" from="categoriaSelecionada.idadeMinima" type="number" data-grid="true" data-grid-num="5" />
                </div>
            </label>
            <div class="padding">
                <button ng-click="concluir()" class="button button-positive button-block">{{labelBotao || 'Buscar'}}</button>
            </div>
        </ion-list>
    </ion-content>
    <!-- <ion-footer-bar align-title="center" class="bar bar-positive">
        <div ng-click="concluir()" class="title">Confirmar</div>
    </ion-footer-bar> -->
</ion-modal-view>