<ion-view ng-controller="timeController">
  <ion-nav-title ng-click="selecionarPerfil()">{{time.nome}} <i ng-if="podeSelecionarPerfil()" class="icon ion-arrow-down-b dark"></i></ion-nav-title>
  <ion-nav-buttons side="right">
      <button ng-if="editavel()" class="button" ng-click="exibirMenuTime()">
        <i class="icon ion-android-more-vertical"></i>
      </button>
  </ion-nav-buttons>
<ion-content padding="true">
<!--     <ion-refresher
      pulling-text="Atualizar..."
      on-refresh="atualizar()">
    </ion-refresher> -->

    <div ng-if="time">
      <div ng-if="mostrarTemporadas()" class="tabs tabs-striped tabs-top tabs-stable tab-temporadas">
        <a class="tab-item" ng-click="setTemporada('todas')" style="color: #222222;">
          Temporadas:
        </a>
        <a class="tab-item" ng-class="{active: temporadaAtiva(temporada.ano)}" ng-click="setTemporada(temporada.ano)" ng-repeat="temporada in time.temporadas">
          {{temporada.ano}}
        </a>
        <a class="tab-item" ng-class="{active: temporadaAtiva('todas')}" ng-click="setTemporada('todas')">
          Todas
        </a>
      </div>

      <div ng-if="mostrarTemporadas()" style="padding-top: 50px;"></div>

    <ion-list>
        <ion-item class="item-thumbnail-left resumo-time">
            <img ng-click="editarTime()" jog-escudo="time.escudo" jog-size="mid">

            <div class="row resumo-jogos">
                <div class="col"><b>{{time.numeros.vitorias}}</b><p style="color: #999">vitórias</p></div>
                <div class="col"><b>{{time.numeros.empates}}</b><p style="color: #999">empates</p></div>
                <div class="col"><b>{{time.numeros.derrotas}}</b><p style="color: #999">derrotas</p></div>
            </div>
            
            <div ng-if="editavel()" class="row">
              <div class="col col-75">
                <button ng-click="editarTime()"  class="button button-outline button-positive button-block button-small" style="margin: 0" >Editar time</button>
              </div>
              <div class="col col-25">
                <button ng-click="compartilharLink(time); $event.stopPropagation()" class="button button-outline button-positive button-block button-small icon ion-android-share-alt" style="margin: 0"></button>
              </div>
            </div>
            <telefone-botao ng-if="!editavel()" telefone="time.telefone"></telefone-botao>

        </ion-item>
    </ion-list>

    <div class="padding-horizontal padding-bottom">
      <b>{{time.nome}}</b><br/>
      <div ng-if="time.biografia" style="white-space: pre-wrap;">{{time.biografia}}</div>
      <a ng-if="time.site" class="text-overflow" href="#" ng-click="irParaUrl(time.site); $event.stopPropagation();" style="text-decoration: none">{{time.site}}</a>
      <a ng-if="time.instagram" class="text-overflow" href="#" ng-click="irParaInstagram(time); $event.stopPropagation()" style="text-decoration: none">@{{time.instagram}}</a>
      <div ng-if="!time.esporte.efootball && time.cidade.nomeCompleto">
        {{time.cidade.nomeCompleto}}
      </div>
      <div ng-if="time.esporte.efootball">
        <span ng-if="time.esporte.efootball">{{time.esporte.nome}}<span/>
        <span ng-if="time.efootball.plataforma.nome"> • {{time.efootball.plataforma.nome}}</span>
        <span ng-if="modosFormatados()"> • {{modosFormatados()}}</span>
      </div>
      <telefone-link telefone="time.telefone" editavel="{{editavel()}}" ao-clicar-cadastrar-telefone="editarTime()"></telefone-link>
    </div>

    <div ng-if="editavel() && !time.ativo" class="confirmacao-jogo" style="margin-bottom: 16px;">
      <p class="dark">O perfil do seu time foi desativado por que não está sendo utilizado. Deseja reativar este perfil ou excluí-lo definitivamente?</p>
      <p>
        <button ng-click="reativarTime()" class="button button-positive">Reativar</button>
        <button ng-click="excluirTime()" class="button button-stable button-outline" href="#">Excluir</button>
      </p>
    </div>

    <!-- <ion-item  ng-if="assinaturaMensal" class="item-divider">Jogueiros <span class="jg-badge jg-badge-pro">PRO</span></ion-item>
    <ion-item ng-if="assinaturaMensal" >
        <h2>Assinatura Mensal </h2>
        <p>Price: {{assinaturaMensal.price}}, description: {{assinaturaMensal.description}}, state: {{assinaturaMensal.state}}, type: {{assinaturaMensal.type}}</p>
    </ion-item> -->

    <ion-list ng-controller="jogadoresController">
      <ion-item ng-if="usuarioPro()" class="item-divider">Jogueiros <span class="jg-badge jg-badge-pro">PRO</span></ion-item>
      <ion-item ng-if="usuarioPro()" ng-click="verEstatisticas()" style="padding-right: 72px;">
          <h2>Gráficos e Estatísticas </h2>
          <p>Aproveitamento, gols, cartões, médias, sequências, jogadores por jogo, mando de campo</p>
          <div class="item-col-gols">
            <div style="width: 40px; height: 40px;">
              <canvas grafico-time-desempenho-simples dados="numerosGraficoDesempenho()" ></canvas>
            </div>
          </div>
      </ion-item>
      <ion-item ng-if="editavel() && time.jogos.confirmarJogo.length" class="item-divider">
        Confirmar Jogos
        <span class="badge badge-assertive">{{time.jogos.confirmarJogo.length}}</span>
      </ion-item>
      <jog-partidas ng-if="editavel()" partidas="time.jogos.confirmarJogo"></jog-partidas>
      <ion-item ng-if="editavel() && time.jogos.aguardandoPlacar.length" class="item-divider">
        Jogos sem placar
        <span class="badge badge-assertive">{{time.jogos.aguardandoPlacar.length}}</span>
      </ion-item>
      <jog-partidas ng-if="editavel()" partidas="time.jogos.aguardandoPlacar"></jog-partidas>
      <ion-item ng-if="editavel() && time.jogos.confirmarPlacar.length" class="item-divider">
        Confirmar Placar
        <span class="badge badge-assertive">{{time.jogos.confirmarPlacar.length}}</span>
      </ion-item>
      <jog-partidas ng-if="editavel()" partidas="time.jogos.confirmarPlacar"></jog-partidas>

      <ion-item ng-if="time.rankings.length" class="item-divider">Ranking</ion-item>
      <ion-item ng-if="rankingTime.atual || mostrarTodosRankings" ng-click="verRanking(rankingTime.ranking)" class="item-avatar" ng-repeat="rankingTime in time.rankings">
          <img jog-escudo="rankingTime.ranking.liga.escudo" jog-size="small">
          <h2>{{rankingTime.ranking.nome}}</h2>
          <p>{{rankingTime.ranking.dataInicio | date:'dd/MM/yyyy'}} a {{rankingTime.ranking.dataFim| date:'dd/MM/yyyy'}}</p>
          <p>
            {{rankingTime.numeros.vitorias}} vitórias, {{rankingTime.numeros.empates}} empates e {{rankingTime.numeros.derrotas}} derrotas
          </p>
      </ion-item>
      <ion-item ng-if="temMaisRankings()" >
        <button ng-click="verRankingsAnteriores()" class="button button-positive button-outline button-block" href="#"> Ver anteriores </button>
      </ion-item>

      <ion-item ng-if="editavel() || time.jogos.proximos.length" class="item-divider">Próximos Jogos</ion-item>
      <ion-item ng-if="!time.jogos.proximos.length && editavel()">
        <button ui-sref="novoJogo" class="button button-outline button-block button-positive icon ion-plus-circled" href="#"> Cadastrar Jogo </button>
      </ion-item>
      <jog-partidas partidas="time.jogos.proximos"></jog-partidas>
      <ion-item ng-if="paginacao.proximos.maisJogos" ><button ng-click="verJogosAgendados()" class="button button-positive button-outline button-block" href="#"> Ver mais jogos </button></ion-item>

      <ion-item ng-if="editavel() || time.jogos.encerrados.length" class="item-divider">Últimos jogos</ion-item>
      <ion-item ng-if="!time.jogos.encerrados.length && editavel()">
        <button ui-sref="novoJogo" class="button button-outline button-block button-positive icon ion-plus-circled" href="#"> Cadastrar Jogo </button>
      </ion-item>
      <jog-partidas partidas="time.jogos.encerrados"></jog-partidas>
      <ion-item ng-if="paginacao.encerrados.maisJogos" ><button ng-click="verJogosAnteriores()" class="button button-positive button-outline button-block" href="#"> Ver jogos anteriores </button></ion-item>

      <ion-item ng-if="time.jogadores.length || editavel()" class="item-divider item-select">Jogadores 
              <select ng-model="jogadoresOrdem" ng-change="ordenarPor(jogadoresOrdem)" style="background: transparent;">
                  <option value="ARTILHARIA">Artilharia</option>
                  <option value="ASSISTENCIAS">Assistências</option>
                  <option value="JOGOS">Jogos</option>
                  <option value="POSICAO">Posição</option>
                  <option value="NOME">Nome</option>
              </select>
      </ion-item>
      <ion-item ng-click="verJogador(jogador, temporada)" class="item-avatar avatar-jogador" ng-repeat="jogador in time.jogadores">
          <img jog-jogador="jogador.foto" jog-size="small">
          <h2>{{jogador.nome}}</h2>
          <p>
            {{jogador.posicao}}
            <span ng-if="jogador.posicao && jogador.camisa"> • </span>
            <span ng-if="jogador.camisa">Camisa {{jogador.camisa}}</span>
          </p>
          <div class="item-col-jogos">
            <p>Jogos</p>
            <h2 class="qtd-gols">{{jogosJogadorNaTemporada(jogador)}}</h2>
          </div>
          <div class="item-col-assist">
            <p>Assist</p>
            <h2 class="qtd-gols">{{assistJogadorNaTemporada(jogador)}}</h2>
          </div>
          <div class="item-col-gols">
            <p>Gols</p>
            <h2 class="qtd-gols">{{golsJogadorNaTemporada(jogador)}}</h2>
          </div>
      </ion-item>
      <ion-item ng-if="time && editavel()" >
        <button ng-click="adicionarJogador(time.id)" class="button button-positive button-outline button-block icon ion-person-add" href="#"> Adicionar Jogador </button>
      </ion-item>
    </ion-list>

    <ion-list ng-if="editavel() && usuarioPro()">
      <ion-item class="item-divider">Administradores</ion-item>
      <ion-item ng-click="verAdmin(administrador)" class="item-avatar item-button-right" ng-repeat="administrador in time.administradores">
          <img jog-jogador="administrador.foto" jog-size="small">
          <h2>{{administrador.nome}}</h2>
          <p>{{administrador.email}}</p>
          <button ng-if="time.administradores.length > 1" ng-click="excluirAdmin(administrador._id)" class="button button-clear vertical-middle" >
            <i class="icon ion-close-circled assertive"></i>
          </button>
      </ion-item>
      <ion-item ng-click="verAdmin(administrador)" class="item-avatar item-button-right" ng-repeat="convite in time.convitesAdmin">
          <img jog-jogador="" jog-size="small">
          <h2>{{convite.email}}</h2>
          <p>Pendente</p>
          <button ng-click="excluirConviteAdmin(convite._id)" class="button button-clear vertical-middle">
            <i class="icon ion-close-circled assertive"></i>
          </button>
      </ion-item>
      <ion-item>
        <button ng-click="adicionarAdmin()" class="button button-positive button-outline button-block icon ion-person-add" href="#"> Adicionar administrador </button>
      </ion-item>
    </ion-list>

    <br/>
    <p style="text-align: center">
      Dúvidas ou sugestões?
      <br/>
      <a href="#" ng-click="irParaUrl('mailto:jogueirosfc.inc@gmail.com'); $event.stopPropagation();">jogueirosfc.inc@gmail.com</a>
    </p>
  </div>
  </ion-content>
<!--                 </ion-nav-view>
            </ion-tab>
        </ion-tabs>

    </ion-pane> -->
  
</ion-view>
