<ion-view hide-nav-bar="true" title="Solicitar Arbitragem" ng-controller="solicitarArbitragemController">
  <ion-nav-buttons side="left">
      <button class="button" ng-click="informarDepois()">
        Cancelar
      </button>
  </ion-nav-buttons>
    <ion-conten>
    	<style type="text/css">
    		.item.liga-selecionada,
    		.item.liga-selecionada.activated
    		{
    			background-color: #ebf1fb;
    		}

    		.mensagem-explicativa{
			    margin: 0;
			    position: absolute;
			    bottom: 20px;
			    background-color: #387ef5;
			    color: #fff;
			    margin: auto 20px;
			    border-radius: 5px;
			    padding: 13px;
			    font-size: 16px;
			    line-height: 1.5em;
    		}

    		.mensagem-explicativa::after{
    			content: '';
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid #387ef5;
				position: absolute;
				margin: auto;
				display: block;
				margin: 0 auto;
				left: 50%;
				transform: translateX(-50%);
				bottom: -10px;
			}
    	</style>
	    <jog-partida jogo="jogo"></jog-partida>

	    <div class="action-sheet-backdrop active" ng-class="cssClass" buttons="buttons">
	    	<div class="action-sheet-wrapper action-sheet-up" style="    background-color: #fff;">
	    		<div style="position: relative;">
		    		<div class="padding mensagem-explicativa">
			    		Precisa de árbitro? É melhor solicitar logo! O placar informado pelo árbitro irá direto para o ranking.
						<!-- <ul style="list-style: disc;margin-left: -63px;font-size: 0.9em;">
							<li>No final do jogo, o árbitro irá informar o placar</li>
							<li>Se houver ranking, será atualizado automaticamente</li>
							<li>O pagamento deve ser feito diretamente ao árbitro</li>
						</ul> -->
		    		</div>
	    		</div>
				<div class="list lista-jogadores">
			    	<div ng-click="selecionarLiga(liga)" class="item item-avatar" ng-repeat="liga in ligas" ng-class="{'liga-selecionada': liga.id == ligaSelecionada.id }">
						<img jog-escudo="liga.escudo" jog-size="small">
						<h2>{{liga.nome}}</h2>
						<p>{{liga.nomeCompleto}}</p>
			              <!-- <button ng-click="informarDepois()" class="button button-block">Solicitar</button> -->

			            <div class="col-input col-toggle">
			              <span style="font-weight: 500">R${{liga.arbitragem.valorPorHora}}/h</span>
			            </div>
			    	</div>

			        <div class="padding">
			        	<button ng-click="solicitarArbitragem()" class="button button-block button-positive">Solicitar arbitragem</button>
			          	<button ng-click="naoSolicitar()" class="button button-block">Agora não</button>
			        </div>
		        </div>
	    	</div>
	    </div>        
    </ion-content>
</ion-view>

