<ion-view ng-controller="cadastrarJogadorController" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button back-button" jog-click-voltar style="margin: 0">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-title>{{jogador._id? 'Editar Jogador': 'Adicionar Jogador'}}</ion-nav-title>
    <ion-content class="padding">
        <form-cadastrar-jogador ng-if="dadosCarregados" jogador="jogador" time-id="timeId" ao-salvar="aposSalvar()" />
    </ion-content>
</ion-view>