<ion-modal-view>
    <ion-header-bar class="bar bar-header">
        <button class="button button-clear button-primary" ng-click="modalMesJogador.hide()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
        <h1 class="title">{{mesExtenso(mesClicadoMapa)}} de {{temporadaModal}}</h1>
        <button ng-if="editavel()" class="button" ng-click="exibirMenuJogador(jogadorModal)">
            <i class="icon ion-android-more-vertical"></i>
        </button>
    </ion-header-bar>
    <ion-content class="image-background img-jogador mapa-jogador-visao-mensal"> 


        <div class="item item-transparente topo" style="overflow-x: auto; border: 0;">
            <div class="mapa-jogador-ano-jogo jogo" ng-click="verDetalhesJogo(dadosJogo, mesClicadoMapa, jogosMesClicadoMapa)" ng-repeat="dadosJogo in jogosMesClicadoMapa"  ng-class="{presente: dadosJogo.numeros, gols: dadosJogo.numeros.gols > 0, assistencias: dadosJogo.numeros.assistencias > 0, clicado:jogoClicadoMapa.jogo._id == dadosJogo.jogo._id}">
                <h4 class="dia-semana">{{formatarDiaSemana(dadosJogo.jogo.dataHora)}}</h4>
                <h2 class="data">{{formatarDataMapa(dadosJogo.jogo.dataHora)}}</h3>
            </div>
        </div>



        <div class="mapa-detalhes-jogo" ng-if="jogoClicadoMapa" style="background-color: #fff">
            <ion-item  class="item-transparente item-avatar" style="border-top-color: #aaa;   border-bottom: dotted 2px #dddddd;">
                <img jog-jogador="jogadorModal.foto" jog-size="small">
                {{jogadorModal.nome}}
                <p ng-if="!jogoClicadoMapa.numeros">Não jogou nessa partida</p>
                <p>
                    <jog-jogador-gols jogador="jogoClicadoMapa.numeros" mostrar-se-jogou="true"></jog-jogador-gols>
                </p>
            </ion-item>
            <jog-partida jogo="jogoClicadoMapa.jogo" ao-clicar-jogo="modalMesJogador.hide()"></jog-partida>
        </div>

    </ion-content>
</ion-modal-view>