<label class="item-input"  style="padding-right: 10px;">
    <span class="input-label" style="width: 20%;">Árbitro</span>
    <div class="item-input-wrapper" style="background-color: #fff">
      <input ng-model="arbitroDesignado.nome" ng-focus="modalArbitro.show()" type="text" placeholder="Informe o árbitro da partida">
    </div>
</label>
<div class="row">
  <div ng-if="podeCancelar"  class="col">
    <button ng-click="cancelar()" class="button button-positive button-outline button-block" href="#">Cancelar</button>
  </div>
  <div class="col">
    <button ng-click="designarArbitro()" ng-disabled="!arbitroDesignado.nome" class="button button-positive button-block" href="#">Salvar</button>
  </div>
</div>