<ion-item ng-if="jogo" ng-class="{'ranking-nao-computado': jogo.rankingNaoComputado}">
    <div ng-if="jogo.rankingNaoComputado" class="msg-destacada">Não contabilizado</div>
    <div style="text-align: center; margin-top: -8px; margin-bottom: 3px;">
        <span ng-if="mostrarDetalhes && jogo.competicao && jogo.local" class="jg-badge jg-badge-competicao">{{jogo.competicao.nome}}</span>
    </div>
    <p ng-click="acaoJogo(jogo)" class="resultado-data-hora">
        <b>{{formatarData(jogo)}}</b>
        <span class="resultado-local">{{ jogo.local.nome || jogo.competicao.nome }}</span>
        <b>{{formatarHora(jogo)}}</b>
        <i ng-if="jogoValido(jogo)" class="icone-confirmado ion-checkmark-circled"></i>
    </p>
    <div class="row row-center" style="padding:0;">
        <a ng-click="irParaTime(timeEsqueda(), tipoTime('esquerda'))" class="col col-40 resultado-time -mandante">
            <img jog-escudo="timeEsqueda().escudo" jog-size="small">
            <h3>{{timeEsqueda().nome}}</h3>
        </a>
        <div ng-click="acaoJogo(jogo)" class="col col-20 col-top resultado-placar">
            {{placarEsquerda()}} x {{placarDireita()}}
        </div>
        <a ng-click="irParaTime(timeDireita(), tipoTime('direita'))" class="col col-40 resultado-time -visitante">
            <img jog-escudo="timeDireita().escudo" jog-size="small">
            <h3>{{timeDireita().nome}}</h3>
        </a>
    </div>
</ion-item>
