<div ng-if="telefone.numero || editavel">
	<a 	ng-if="telefone.numero && telefone.whatsapp === true" 
		ng-click="irParaWhatsapp(telefone); $event.stopPropagation()"
		style="text-decoration: none">
		{{formatarTelefone(telefone.numero)}}
	</a>
	<a 	ng-if="telefone.numero && (telefone.whatsapp === false)"
		href="tel:+{{telefone.ddi}}{{telefone.numero}}"
		style="text-decoration: none">
		{{formatarTelefone(telefone.numero)}}
	</a>
	<a 	ng-if="!telefone.numero && editavel == 'true'"
		ng-click="editarTime()"
		style="text-decoration: none">
		Cadastrar telefone
	</a>
</div>