<ion-modal-view>
    <ion-header-bar align-title="center" class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalTelefone.hide()">Cancelar</button>
        <h1 class="title">Telefone</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <br/>
        <br/>
            <div class="row">
              <div class="col col-25">
                  <label class="item item-input item-select" style="height: 100%; border: 0; width: 100%;" jog-options-modal jog-type="SELECT" jog-options="ddis" jog-key="code" jog-value="descricao" jog-title="Selecione um país" on-selecionado="ddiSelecionado(option)" pode-buscar="true">
                    <span style="width: 100%;max-width: 100%; padding-right: 35px; padding-left: 0; text-align: right; font-size: 0.9em; color: #000;">
                      +{{telefone.ddi}}
                    </span>
                  </label>
              </div>
              <div class="col">
                <label class="item item-input" style="border: 0;">
                    <input ng-if="telefone.ddi == 55" ng-model="telefone.numero" type="tel" maxlength="15" placeholder="Telefone com DDD" ui-br-phone-number>
                    <input ng-if="telefone.ddi != 55" ng-model="telefone.numero" type="tel" maxlength="15" placeholder="Telefone com DDD">
                </label>
              </div>
            </div>
            <ion-toggle ng-model="telefone.whatsapp" toggle-class="toggle-balanced" style="border-width: 1px 0 0 0;">
                Whatsapp
                <p style="color: #9E9E9E;">Utilizar whatsapp?</p>
            </ion-toggle>
        <button ng-click="confirmarTelefone()" class="button button-positive button-block">Confirmar</button>
    </ion-content>
</ion-modal-view>