<ion-modal-view>
    <ion-header-bar align-title="center" class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalCadastrarLocal.hide()">Cancelar</button>
        <h1 class="title">Cadastrar Local do Jogo</h1>
    </ion-header-bar>
    <ion-content padding="true" class="has-header">
        <form class="list" ng-submit="salvarLocal()">
            <label class="item item-input">
                <span class="input-label">Nome do local</span>
                <input ng-model="jogo.novoLocal.nome" type="text" placeholder="Nome do local">
            </label>
            <label class="item item-input">
                <span class="input-label">Cidade</span>
                <input ng-model="jogo.novoLocal.cidade.nomeCompleto" ng-focus="modalEstado.show()" type="text" placeholder="Escolha uma cidade">
            </label>

            <label class="item item-input item-select">
                <span class="input-label">Modalidade</span>
                <select ng-model="jogo.novoLocal.tipo">
                    <option value="" disabled selected>Escolha a modalidade</option>
                    <option value="SOCIETY">Society</option>
                    <option value="SALAO">Salão</option>
                    <option value="GRAMA">Grama</option>
                    <option value="TERRA">Terra</option>
                    <option value="AREIA">Areia</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <span class="input-label">Quantos jogam?</span>
                <select ng-model="jogo.novoLocal.numJogadores">
                    <option value="" disabled selected>Incluindo o goleiro</option>
                    <option value="4">4x4</option>
                    <option value="5">5x5</option>
                    <option value="6">6x6</option>
                    <option value="7">7x7</option>
                    <option value="8">8x8</option>
                    <option value="9">9x9</option>
                    <option value="10">10x10</option>
                    <option value="11">11x11</option>
                </select>
            </label>
            <button type="submit" class="button button-positive button-block">Cadastrar</button>

        </form>
    </ion-content>
</ion-modal-view>