<ion-view title="Súmula do Jogo" ng-controller="informarSumulaController">
  <ion-nav-buttons side="left">
      <button class="button" ng-click="informarDepois()">
        Cancelar
      </button>
  </ion-nav-buttons>
    <ion-content class="has-header">
      <style>
        .icon-star-destaque{
          font-size: 40px;
          color:#d6d6d6;
        }

        .jogador-destaque .icon-star-destaque{
          color:#f3973e;
        }
      </style>
      <jog-partida jogo="jogo"></jog-partida>
      <form class="list lista-jogadores">
        <div class="item cabecalho">
          Jogador
          <span class="float-right">Foi ao jogo</span>
        </div>
          <div 
          class="item item-avatar" ng-repeat="jogadorGol in jogadores"
          ng-class="{'jogador-expandir':jogadorGol.jogador.id==idJogadorAberto, 'jogador-destaque': jogadorGol.destaque}"
          ng-click="expandirJogador(jogadorGol)">
              <img class="foto-jogador" jog-jogador="jogadorGol.jogador.foto"
              jog-size="small"/>
              <div class="jogador-destaque-icon">
                <i class="icon ion-ios-star"></i>
              </div>
              <h2 class="nome-jogador-gols" ng-class="{'fora-elenco':!jogadorGol.elenco}">
                {{jogadorGol.jogador.nome}}
              </h2>
              <p ng-if="jogadorGol.elenco">
                <jog-jogador-gols jogador="jogadorGol" mostrar-se-jogou="true"></jog-jogador-gols>
              </p>

              <div class="col-input col-toggle">
                <label class="toggle toggle-positive" ion-stop-event="click">
                    <input type="checkbox" ng-model="jogadorGol.elenco" ng-change="checkJogador(jogadorGol)">
                    <div class="track">
                      <div class="handle"></div>
                    </div>
                </label>
              </div>
              <div class="opcoes-informar" ion-stop-event="click">
                <jog-jogador-numero 
                  ng-if="jogadorGol.jogador.ehGoleiro"
                  value="jogadorGol.golsSofridos" 
                  titulo="Gols Sofridos"
                  restante="restantes.golsSofridos"
                  ao-alterar-valor="atualizarRestante('golsSofridos', inc)">
                </jog-jogador-numero>
                <jog-jogador-numero 
                  ng-if="jogadorGol.jogador.ehGoleiro"
                  value="jogadorGol.defesasDificeis" 
                  titulo="Defesas difíceis">
                </jog-jogador-numero>
                <jog-jogador-numero 
                  value="jogadorGol.gols" 
                  titulo="Gols" 
                  restante="restantes.gols"
                  ao-alterar-valor="atualizarRestante('gols', inc)">
                </jog-jogador-numero>
                <jog-jogador-numero 
                  value="jogadorGol.assistencias"
                  titulo="Assistências" 
                  restante="restantes.assistencias"
                  ao-alterar-valor="atualizarRestante('assistencias', inc)">
                </jog-jogador-numero>
                <jog-jogador-numero 
                  ng-if="!jogadorGol.jogador.ehGoleiro"
                  value="jogadorGol.desarmes" 
                  titulo="Desarmes">
                </jog-jogador-numero>

                <!-- <jog-jogador-numero 
                  ng-if="jogo.houveDisputaPenaltis"
                  value="jogadorGol.golsSofridos" 
                  titulo="Gols de Pênalti"
                  restante="restantes.golsPenaltis"
                  ao-alterar-valor="atualizarRestante('golsSofridos', inc)">
                </jog-jogador-numero> -->

                <div class="opcao">
                  <small class="titulo">CARTÕES</small>
                  <span class="botoes" >
                    <div class="col-input" style="text-align: right;" >
                      <a class="cartao cartao-amarelo" ng-class="{'cartao-disabled': !jogadorGol.cartoes.amarelo}" ng-click="toggleCartao(jogadorGol, 'amarelo')">
                      </a>
                      <a class="cartao cartao-azul" ng-class="{'cartao-disabled': !jogadorGol.cartoes.azul}" ng-click="toggleCartao(jogadorGol, 'azul')"></a>
                      <a class="cartao cartao-vermelho" ng-class="{'cartao-disabled': !jogadorGol.cartoes.vermelho}" ng-click="toggleCartao(jogadorGol, 'vermelho')"></a>
                    </div> 
                  </span>                  
                </div>

                <div class="opcao">
                  <small class="titulo">DESTAQUE DA PARTIDA</small>
                  <span class="botoes">
                    <div class="col-input" style="text-align: right;">
                      <a class="icon-star-destaque" ng-click="toggleDestaque(jogadorGol)">
                        <i class="icon ion-ios-star"></i>
                      </a>
                    </div> 
                  </span>                  

                </div>

                <!-- <div class="opcao jog-jogador-numero">
                  
                  <small class="titulo">Adicionar mais informações</small>
                  <div class="" style="font-size: 0.8em;">Defesas, desarmes, passes, finalizações, ...</div>
                  <span class="botoes">
                    <button class="button button-outline button-positive" type="button" ng-click="decrement()">Novos campos</button>
                  </span>                  
              
              </div> -->

              </div>
            </div>

            <div class="padding">
              <button ng-click="adicionarJogador(jogo[time]._id)" class="button button-stable button-block icon ion-person-add" href="#"> Adicionar jogador</button>

              <button ng-click="informarDepois()" class="button button-block">Informar depois</button>
            </div>
            
            <br/>
        </form>

    </ion-content>
    <ion-footer-bar align-title="center" class="bar bar-positive">
      <div ng-click="salvarGols()" class="title">Salvar</div>
    </ion-footer-bar>
</ion-view>

