<ion-view ng-controller="verJogoController" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button back-button" ng-click="voltar()" style="margin: 0">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-title style="left: 28px;">{{tituloJogo()}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <button ng-if="deveExibirMenu()" class="button" ng-click="exibirMenu()">
          <i class="icon ion-android-more-vertical"></i>
        </button>
    </ion-nav-buttons>
  <style type="text/css">
    .mensagem-discreta{
      font-size: 0.9em;
      text-align: center;
      color: #999;
    }

    .jogo-jogadores{
      background-color: #fff;
    }

    .bar .buttons-left span{
      margin-right: -2px;
    }

    .img-lado-lado{
      position: absolute;
      right: 0;
    }

    .img-lado-lado.esquerda{
      clip: rect(0, 24px, 48px, 0);
    }

    .img-lado-lado.direita{
      clip: rect(0, 48px, 48px, 24px);
    }

    .mensagem-discreta.texto-visitante{
      text-align: left;
    }

    .mensagem-discreta.texto-visitante.mandante-esquerda{
      text-align: right;
    }

    .mensagem-discreta.texto-mandante{
      text-align: right;
    }

    .mensagem-discreta.texto-mandante.mandante-esquerda{
      text-align: left;
    }

  </style>
    <ion-content style="background-color: #fafafa">
      <div ng-if="jogo">
        <jog-partida jogo="jogo" mostrar-detalhes="true"></jog-partida>


        <div ng-if="aguardandoConfirmarPlacar()" class="confirmacao-jogo">
          <p class="dark"><b>{{jogo.mandante.nome}}</b> informou o placar do jogo</p>
          <p>
            <button ng-click="confirmarPlacar()" class="button button-positive" href="#">Confirmar</button>    
            <button ng-click="rejeitarPlacar()" class="button button-stable button-outline" href="#">Excluir</button>
          </p>
          <p class="dark">Ao excluir, o jogo não será mais exibido nas rodadas nem no seu perfil</p>
        </div>

        <p class="padding mensagem-discreta texto-visitante" ng-class="{'mandante-esquerda': jogo.mandanteNaEsquerda}" ng-if="mensagemSobreJogo() == 'aguardandoConfirmar' ">Jogo ainda <b>não confirmado</b> pelo {{jogo.visitante.nome}}</p>
        <p class="padding mensagem-discreta texto-visitante" ng-if="mensagemSobreJogo() == 'rejeitado' " ng-class="{'mandante-esquerda': jogo.mandanteNaEsquerda}">Jogo <b>não confirmado</b> pelo {{jogo.visitante.nome}}</p>
        <p class="padding mensagem-discreta texto-mandante" ng-if="mensagemSobreJogo() == 'aguardandoPlacar' " ng-class="{'mandante-esquerda': jogo.mandanteNaEsquerda}">Aguardando <b>{{jogo.mandante.nome}}</b> informar o placar do jogo.</p>

        <div ng-if="jogo.encerrado && !aguardandoConfirmarPlacar()" class="row jogo-jogadores">
          <div class="col col-50 col-mandante">
            <jogo-jogadores jogo="jogo" tipo-time="{{timeDaEsquerda()}}" editavel="editavel(timeDaEsquerda())" informar-sumula-callback="informarSumula()" />
          </div>
          <div class="col col-50">
            <jogo-jogadores jogo="jogo" tipo-time="{{timeDaDireita()}}" editavel="editavel(timeDaDireita())" informar-sumula-callback="informarSumula()" />
          </div>
        </div>

        <p ng-if="podeSolicitarArbitragem()" class="padding dark">
          <button ng-click="solicitarArbitragem()" class="button button-positive button-block" href="#">Solicitar arbitragem</button>    
        </p>
        <div ng-if="aguardandoConfirmarJogo()" class="confirmacao-jogo">
          <p class="dark"><b>{{jogo.mandante.nome}}</b> marcou um jogo contra o seu time</p>
          <button ng-click="confirmarJogo()" class="button button-positive" href="#">Confirmar</button>    
          <button ng-click="rejeitarJogo()" class="button button-stable button-outline" href="#">Excluir</button>
        </div>
        <div ng-if="podeInformarPlacar()" class="padding">
          <button  ng-click="informarPlacar()" class="button button-positive button-block " href="#">Informar Placar</button>
        </div>

        <jog-arbitragem jogo="jogo"></jog-arbitragem>

        <div ng-if="deveMostrarHistoricoConfrontos()" ng-click="verHistoricoConfrontos()" class="card">
          <ion-item ng-if="jogo.historicoConfrontos.totais.jogos" style="padding-right: 72px;">
            <h2>Histórico de confrontos <span class="jg-badge jg-badge-pro">PRO</span></h2>
            <p> Veja todos os jogos e estatísticas </p>
            <div class="item-col-gols">
              <img class="img-lado-lado esquerda" jog-escudo="jogo[timeDaEsquerda()].escudo" jog-size="small">
              <img class="img-lado-lado direita" jog-escudo="jogo[timeDaDireita()].escudo" jog-size="small">
            </div>
          </ion-item>
        </div>
        <br/>
      </div>
    </ion-content>
</ion-view>
