<ion-modal-view ng-controller="selecionarLocalController">
    <ion-header-bar class="bar bar-header bar-positive">
        <button class="button button-clear button-primary" ng-click="modalLocal.hide()">Cancelar</button>
        <h1 class="title">Selecionar local</h1>
        <button class="button" id="botao-escolher-regiao" mostrar-br="false" tem-time="true" regiao="{{regiao}}" jog-escolher-regiao mostrar-outros-esportes="false">
            Região:
            <b class="padding-left">{{regiao}}</b>
            <i class="icon ion-android-arrow-dropdown" style="color:#FFF"></i>
        </button>
    </ion-header-bar>
    <ion-content class="padding">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="searchTerm.query"  ng-change="buscarLocal(searchTerm.query)"  type="search" placeholder="Encontre um local" />
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 1px;"></div>
        <ion-list ng-if="locaisSugeridos.length && !searchTerm.query.length">
            <ion-item class="item-divider">Mais frequentes</ion-item>
            <div ng-click="localSelecionado(local._id)" ng-repeat="local in locaisSugeridos | fuzzyBy:'_id.nome':searchTerm.query">
                <ion-checkbox ng-model="local._id.selecionado" ng-if="multi">
                    {{localChecked(local._id)}}
                    <h2>{{local._id.nome}}</h2>
                    <p>{{local._id.cidade.nome}}</p>
                </ion-checkbox>
                <ion-item class="item" ng-if="!multi">
                    <h2>{{local._id.nome}}</h2>
                    <p>{{local._id.cidade.nome}}</p>
                </ion-item>
            </div>
        </ion-list>
        <ion-list>
            <ion-item ng-if="locaisSugeridos.length && !searchTerm.query.length" class="item-divider">Todos</ion-item>
            <div ng-click="localSelecionado(local)" ng-repeat="local in locais">
                <ion-checkbox ng-model="local.selecionado" ng-if="multi">
                    {{localChecked(local)}}
                    <h2>{{local.nome}}</h2>
                    <p>{{local.cidade.nome}}</p>
                </ion-checkbox>
                <ion-item class="item" ng-if="!multi">
                    <h2>{{local.nome}}</h2>
                    <p>{{local.cidade.nome}}</p>
                </ion-item>
            </div> 
            <ion-item ng-if="searchTerm.query.length" class="item item-icon-left" ng-click="cadastrarLocal(searchTerm.query)">
                <i class="icon ion-plus-circled balanced"></i>
                <h2>{{searchTerm.query}}</h2>
                <p>Cadastrar este local de jogo</p>
            </ion-item>
        </ion-list>
        <p ng-if="!searchTerm.query.length && locais.length" class="padding dark">Existem outros locais cadastrados. Informe o nome que procura para refinar a busca.</p>
        <br/>
        <br/>
    </ion-content>
    <ion-footer-bar ng-if="multi" align-title="center" class="bar bar-positive">
        <div ng-click="concluir()" class="title">Filtrar</div>
    </ion-footer-bar>
</ion-modal-view>
