<ion-view hide-nav-bar="true">
    <ion-content padding="true" class="image-background img-login">
        <div class="mensagem-destacada">
            <h3 class="dark">Você não tem um convite para o Jogueiros - Arbitragem</h3>
            <br/>
            <p class="dark">Se você recebeu um link de acesso, clique nele agora para que o seu convite seja ativado.</p>
            <p class="dark">Caso contrário, entre em contato com o administrador da sua liga ou federação.</p>
            <br/>
        	<button ui-sref="abasInicio.meuPerfil" class="button button-positive">Voltar para o Jogueiros FC</button>
        </div>
    </ion-content>
</ion-view>
