<ion-view title="{{titulo}}" hide-nav-bar="true" ng-controller="cadastrarArbitroController">
    <ion-content padding="true" class="image-background img-login">
        <div ng-if="conviteDaLiga">
            <div class="mensagem-destacada" style="padding: 15px 30px;">
                <h2 class="dark" style="margin-left:-15px; margin-right: -15px">Bem-vindo ao Jogueiros FC!</h2>
                <p class="dark">Este aplicativo foi feito para os árbitros do Jogueiros. Para continuar, basta nos enviar sua foto e informar o seu nome abaixo.</p>
            </div>
            <form class="list" ng-submit="enviar()">
            <div class="captura-foto">
                <!-- <input type="file" id="input-file-foto" class="hidden" accept="image/*" /> -->
                <img class="captura-foto-img" ng-click="capturarFoto()" id="logotipo" jog-jogador="arbitro.foto"></img>
                <i ng-click="capturarFoto()" class="icon ion-image captura-foto-icon"></i>
            </div>
                <label class="item item-transparente item-input" id="cadastrarTime-input6">
                    <span class="input-label">Nome</span>
                    <input ng-model="arbitro.nome" type="text" placeholder="Informe seu nome completo" required>
                </label>

                <label class="item item-transparente item-input">
                    <span class="input-label">Telefone</span>
                    <telefone-input telefone="arbitro.telefone" ></telefone-input>
                </label>
                
                <button ng-disabled="!arbitro.nome || !arbitro.telefone.numeroFormatado" type="submit" class="button button-positive button-block">{{labelBotao}}</button>

            </form>
        </div>
        <div ng-if="!conviteDaLiga" class="mensagem-destacada" style="padding: 15px 30px;">
            <h2 class="dark" style="margin-left:-15px; margin-right: -15px">Você precisar ter um convite.</h2>
            <p class="dark">Para se cadastrar como árbitro no Jogueiros, é preciso ter um convite. Caso você tenha recebido um link, clique nesse link agora. Caso ainda não tenha um convite, solicite a liga ou federação que você está vinculado.</p>
        </div>
        <p style="text-align: center">
            <br/>
            <a href="#" ng-click="sair()">Fazer login com outro email</a>
        </p>
    </ion-content>
</ion-view>
