<ion-view class="has-tabs-top" ng-controller="inicioTopoController">
  <ion-nav-title>Jogueiros FC</ion-nav-title>
  <ion-nav-buttons side="right" class="item-select" >
      <button class="button" mostrar-br="true" tem-jogos="true" filtro="perfilFiltro" jog-escolher-regiao>
        <span ng-if="!perfilFiltro.esporte.efootball" style="display: inline;">Região:</span>
        <b class="padding-left">{{formatarFiltro(perfilFiltro)}}</b>
        <i class="icon ion-android-arrow-dropdown" style="color:#999"></i>
      </button>
  </ion-nav-buttons>
  <style type="text/css">
    .banner-jogo-container{
      text-align: center;
      margin-bottom: -5px;
      margin-top: -1px;
      /* margin-left: -14%;
      margin-right: -15%; */
      display: block;
    }

    /* @media only screen and (min-width: 530px) {
      .banner-jogo-container{
        margin-left: -76px;
        margin-right: -80px;
      }
    } */

    .banner-jogo{
      width: 100%;
    }
  </style>
    <ion-pane>
        <ion-tabs class="tabs-striped tabs-top tabs-stable">

            <!-- Tab 1 -->
            <ion-tab title="Últimos Jogos">
                <ion-nav-view name="tab-tab1">
                    <ion-content class="has-header has-tabs image-background img-rodada" overflow-scroll="true" ng-controller="inicioController">
                      <ion-refresher
                        pulling-text="Atualizar..."
                        on-refresh="atualizar()">
                      </ion-refresher>
                        <a class="banner-jogo-container" jog-banner-link="horizontal">
                          <img class="banner-jogo" jog-banner="horizontal">
                        </a>
                        <ion-list>
                            <jog-partidas partidas="jogos"></jog-partidas>
                        </ion-list>
                        <div ng-show="!jogos.length && dadosCarregados" class="padding mensagem-destacada">
                            <h3 class="dark">A bola ainda não rolou por aqui :(</h2>
                            <p class="dark">Seja o primeiro do {{formatarFiltro(perfilFiltro)}}! Você pode cadastrar os seus jogos, mesmo que o adversário ainda não esteja no Jogueiros, e convidar outros times para ficar ainda melhor.</p>
                        </div>
                        <ion-infinite-scroll ng-if="dadosCarregados && temMaisResultados" on-infinite="carregarJogos()" distance="10%"></ion-infinite-scroll>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>


            <!-- Tab 2 -->
            <ion-tab title="Próximos Jogos">
                <ion-nav-view name="tab-tab2">
                    <ion-content class="has-header has-tabs image-background img-rodada" overflow-scroll="true" ng-controller="inicioController" proximos-jogos="true">
                      <ion-refresher
                        pulling-text="Atualizar..."
                        on-refresh="atualizar()">
                      </ion-refresher>
                        <a class="banner-jogo-container" jog-banner-link="horizontal">
                          <img class="banner-jogo" jog-banner="horizontal">
                          <!-- <img  class="banner-jogo" src="https://jogueiros-fc-uploads.s3-sa-east-1.amazonaws.com/banner/658_130.gif"> -->
                        </a>
                         <ion-list> 
                            <jog-partidas partidas="jogos"></jog-partidas>
                        </ion-list>
                        <div ng-show="!jogos.length && dadosCarregados" class="padding mensagem-destacada">
                            <h3 class="dark">Sem previsão de novos jogos</h2>
                            <!-- <p class="dark">Parece que os jogueiros estão se poupando pra próxima rodada.</p> -->
                        </div>
                        <ion-infinite-scroll ng-if="dadosCarregados && temMaisResultados" on-infinite="carregarJogos()" distance="10%"></ion-infinite-scroll>
                    </ion-content>
                </ion-nav-view>
            </ion-tab>
        </ion-tabs>

    </ion-pane>
</ion-view>