<ion-view title="Login" hide-nav-bar="true" ng-controller="loginController">
    <ion-content padding="true" class="image-background img-login">

        <div class="mensagem-destacada">
            <h2 class="dark">Você também tem um time?</h2>
            <p class="dark"> Ótimo! Vamos te ajudar a organizar as suas partidas e encontrar adversários.</p>
        </div>
        <br/>
        <button ng-click="authenticate('google')" class="loginBtn loginBtn--google">Login com Google</button>
        <div class="container-baixe-app">
            <h4 class="dark">Baixe nosso aplicativo</h4>
            <a  href="https://play.google.com/store/apps/details?id=com.jogueirosfc.app&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
                <img class="img-baixe-google-play" alt="Disponível no Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/pt_badge_web_generic.png"></a>
            </div>
    </ion-content>
</ion-view>
